<div class='card'>
  <div class='card-header'>
    {{pageTitle}}
  </div>
</div>
<style>
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #4CAF50;
  color: white;
}
.target {
  color: red;
}
</style>
<div class="topnav">
    <a  routerLinkActive='active' [routerLink]="['/hello']">hello</a>
    <a  routerLinkActive='active' [routerLink]="['/second']">second</a>
    <a  routerLinkActive='active' [routerLink]="['/third']">third</a>
</div>
<router-outlet></router-outlet>