.square {
    height: 50px;
    width: 50px;
    float:center;
    margin: 20px;
}

.box {
    width:300px; 
    float:left; 
    border: 1px solid rgba(0, 0, 0, 0.8);
    height: 300px;
    margin: 50px
}

.click{
    float:right;
    margin: 30px;
}

.blue {
    background-color:blue;
}

.red {
    background-color:red;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}